[service]
AppMode = debug
HttpPort = :8083

[mysql]
Db = mysql
DbHost = 127.0.0.1
DbPort = 3306
DbUser =
DbPassWord =
DbName =

[tong_yi]
ApiKey =

[wx]
WxAppId =
WxAppSecret =

[AliOss]
AliEndPoint =
AliAccessKeyId =
AliAccessKeySecret =
AliBucketName =